:root{
   /*COLORS*/
   --COLOR_BACKGROUND:#202325;
   --COLOR_BACKGROUND_2:white;
   --COLOR_TEXT:#000000;
   --COLOR_MAIN:#31a783;
   --COLOR_SECONDARY:#56a2e8;

   /*PADDING*/
   --PADDING_NANO:calc(var(--PADDING_TINY)/2);
   --PADDING_TINY:calc(var(--PADDING)/2);
   --PADDING:1rem;
   --PADDING_MEDIUM:calc(var(--PADDING)*1.5);
   --PADDING_BIG:calc(var(--PADDING_MEDIUM)*1.5);
   
   /*TRANSITION*/
   --TRANSITION_DELAY:0s;
   --TRANSITION_INSTANT: calc(var(--TRANSITION_SHORTEST)/2);
   --TRANSITION_SHORTEST: calc(var(--TRANSITION_SHORT)/2);
   --TRANSITION_SHORT: calc(var(--TRANSITION)/2);
   --TRANSITION: 1s;
   --TRANSITION_LONG: calc(var(--TRANSITION)*1.5);
   --TRANSITION_LONGEST: calc(var(--TRANSITION_LONG)*1.5);
   --TRANSITION_INFINITY: calc(var(--TRANSITION_LONGEST)*1.5);
   --TRANSITION_FUNCTION_1: cubic-bezier(0.68, -0.55, 0.27, 1.55);

   /*SHADOW*/
   --SHADOW_INSET: 0px .125rem .125rem 0px rgba(0,0,0,0.25), 0px .25rem .25rem 0px rgba(0,0,0,0.25) inset;
   --SHADOW: 0px .25rem .25rem 0px rgba(0,0,0,0.25);
   --SHADOW_FAR: 0px .25rem .5rem .25rem rgba(0,0,0,0.25);

   /*OTHER*/
   --BORDER_RADIUS: .5rem;
   --BORDER: none;
   --WIDTH_LOGO: 32rem;
   --HEIGHT_LOGO: 8rem;
}

body{
   padding: 0px;
   margin: 0px;
   display: grid;
   background-color: var(--COLOR_BACKGROUND);
   > #logo{
      position: absolute;
      opacity: 1 !important;
      pointer-events: none !important;
      img{
         position: absolute;
         /*width: var(--WIDTH_LOGO);*/
         height: var(--HEIGHT_LOGO);
         top: calc(var(--HEIGHT_LOGO) - var(--HEIGHT_LOGO)*1.5);
         opacity: 0;
         transition: var(--TRANSITION_LONGEST),rotate var(--TRANSITION_SHORT);
         @media (max-height: 600px){
            left: var(--PADDING_MEDIUM);
            
            @media (max-width: 600px){
               rotate: -90deg;
            }
         }
      }
      &.open img{
         top: var(--PADDING_MEDIUM);
         opacity: 1;

         @media (max-height: 600px) and (max-width: 600px){
            top: inherit
         }
      }
   }
   > *:not(#fiveserver-info-wrapper){
      width: 100dvw;
      height: 100dvh;
      grid-column: 1;
      grid-row: 1;
      display: grid;
      justify-items: center;
      align-items: center;
      overflow: hidden;
      pointer-events: none;
      opacity: 0;
      transition: opacity (--TRANSITION_LONGEST);
      .container{
         margin-bottom: -200dvh;
         transition: var(--TRANSITION_SHORT);
         overflow: hidden;
      }
      &.opening {
         input{
            transition: var(--TRANSITION) var(--TRANSITION_DELAY) var(--TRANSITION_FUNCTION_1);
         }
         .container{
            transition: var(--TRANSITION) var(--TRANSITION_DELAY) var(--TRANSITION_FUNCTION_1);
         }
      }
      &.open,&.opening{
         pointer-events: all;
         opacity: 1;
         .container{
            margin-bottom: var(--margin_bottom);
            
            input:not([type="submit"]){
               width: 16rem;
               height: 1rem;
               transform: scale(1);
            }
            input[type="submit"]{
               transform: scale(1);
            }
         }
      }
   }
   input{
      padding: var(--PADDING_TINY);
      border-radius: var(--BORDER_RADIUS);
      width: 6rem;
      height: .5rem;
      display: block;
      margin: var(--PADDING) auto var(--PADDING) auto;
      border: var(--BORDER);
      transition: var(--TRANSITION_INSTANT);
      transform: scale(.66);
      background-color: var(--COLOR_BACKGROUND_2);
      color: color-mix(in srgb, var(--COLOR_TEXT) 100%, var(--COLOR_BACKGROUND_2) 100%);

      &[type="submit"]{
         width: min-content;
         height: min-content;
         cursor: pointer;
         background-color: var(--COLOR_MAIN);
         color: color-mix(in srgb, var(--COLOR_TEXT) 100%, var(--COLOR_MAIN) 100%);
         font-weight: 900;
         box-shadow: var(--SHADOW);

         &:hover{
            transform: scale(1.05) !important;
            box-shadow: var(--SHADOW_FAR);
         }
         &:active{
            transform: scale(0.95) !important;
            box-shadow: var(--SHADOW_INSET);
         }
      }

      &:first-child{
         margin-top: 0px;
      }

      &:last-child{
         margin-bottom: 0px;
      }
   }
}

#login{
   .container{
      --margin_bottom: 15dvh;

      @media (max-height: 600px) and (max-width: 600px){
         margin-left: calc(var(--HEIGHT_LOGO));
      }
   }
}

#content{
   .container{
      --margin_bottom: 0dvh;
   }
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-columns: 1fr 2fr;
   @media (max-width: 600px) {
      grid-template-columns: 0fr 2fr;
      #chat_viewers{
         margin-left: var(--PADDING);
         &:hover{
            min-width:calc(100dvw - var(--PADDING_BIG));
         }
      }
   }
   &>*{
      width: calc(100% - var(--PADDING_BIG));
      height: calc(100% - var(--PADDING_BIG));
      min-width: var(--PADDING_BIG);
      grid-row: 1;
      border-radius: var(--BORDER_RADIUS);
      margin-left: var(--PADDING);
      margin-right: var(--PADDING);
   }
   &:not(.opening){

   }
   #chat_viewers{
      background-color: var(--COLOR_BACKGROUND_2);
   }
   #chat_container{
      --input_size: 3rem;
      display: grid;
      grid-template-rows: calc(100% - var(--input_size) - var(--PADDING)*2) calc(var(--input_size) - var(--PADDING)*2);
      background-color: var(--COLOR_MAIN);

      #chat_text{
         margin: var(--PADDING);
         width: calc(100% - var(--PADDING)*4);
         height: calc(100% - var(--PADDING)*4);
         background-color: var(--COLOR_BACKGROUND_2);
         border-radius: var(--BORDER_RADIUS);
         padding: var(--PADDING);
      }
      
      #chat_form{
         display: flex;
         align-items: center;
         justify-content: center;
         gap: var(--PADDING_TINY);
         padding: var(--PADDING);
         input{
            margin: 0px;
            transition: var(--TRANSITION_INSTANT);
            &:not([type="submit"]){
               width: 100%;
               height: calc(var(--input_size) - var(--PADDING));

            }
            &[type="submit"]{
               background-color: var(--COLOR_SECONDARY);
               width: var(--input_size);
               height: var(--input_size);
               aspect-ratio: 1/1;
               border-radius: 100%;
               color: color-mix(in srgb, var(--COLOR_TEXT) 100%, var(--COLOR_SECONDARY) 100%);
            }
         }
      }
   }
}